//
//  Config.xcconfig
//  safe-escape-ios
//
//  Created by kaseul on 7/16/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

NMFNcpKeyId = __네이버_지도_API_KEY_PLACEHOLDER__
NMFNcpKey = __네이버_지도_Client_Secret__
TMapAppKey = __티맵_APP_KEY__
KakaoAppKey = __카카오_지도_APP_KEY__

#include? "Config.secret.xcconfig"
